<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if title %}
    <title>{{ title }} budget</title>
    {% else %}
     <title>Welcome to My budget</title>
    {% endif %}
</head>
<body>
    <div class="container">
        <nav>
            <span id="my_budget">My budget</span>
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('main.incomes') }}">Incomes</a>
            <a href="{{ url_for('main.expenses') }}">Expenses</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </nav>
        <div>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>