{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.username }}'s expenses</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.expense_date.label }}<br>
            {{ form.expense_date(size=32) }}<br>
            {% for error in form.expense_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <div class="container">
        <p>Your expenses:</p>
        {% for expense in expenses %}
            {% include '_expense.html' %}
        {% endfor %}
    </div>
{% endblock %}