{% extends "base.html" %}

{% block content %}
    <h1>{{ current_user.username }}'s incomes</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.amount.label }}<br>
            {{ form.amount(size=32) }}<br>
            {% for error in form.amount.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.income_date.label }}<br>
            {{ form.income_date(size=32) }}<br>
            {% for error in form.income_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}